[submodule "Inversion-de-Controle-et-Injection-De-Dependance"]
	path = Inversion-de-Controle-et-Injection-De-Dependance
	url = https://github.com/elmehdi-elmais/Inversion-de-Controle-et-Injection-De-Dependance.git
[submodule "Spring-Data-JPA-Hibernate"]
	path = Spring-Data-JPA-Hibernate
	url = https://github.com/elmehdi-elmais/Spring-Data-JPA-Hibernate.git
	ignore = dirty
